@{
    ViewData["Title"] = "Quản lý công trình";
}
<div class="tab-content">
    <div class="card mt-3 w-100 d-flex">
        <div class="card-header">
            <h3 class="m-0 mr-2">Quản lý công trình</h3>
            <div class="mbg-3 alert alert-info alert-dismissible fade show" role="alert">
            </div>
        </div>
    </div>
</div>

