@{
    ViewData["Title"] = "Change password confirmation";
}
<div class="alert alert-success mt-3">
    <h4>Password changed successfully!</h4>
    <a href="/Account/Login" class="btn btn-default w-100 mt-1">Back to Login</a>
</div>
