@{
    ViewData["Title"] = "Generate Recovery Codes";
}
<h3>Generate two-factor authentication (2FA) recovery codes</h3>
<div class="alert alert-warning">
    <strong>Put these codes in a safe place.</strong>
    <p>If you lose your device and don't have the recovery codes you will lose access to your account.</p>
</div>
<form asp-action="GenerateRecoveryCodesPost" method="post">
    <button class="btn btn-danger" type="submit">Generate Recovery Codes</button>
</form>
