@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Xác nhận đổi mật khẩu";
    var isSucceed = ViewBag.IsSucceed as bool? ?? false;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                @if (isSucceed)
                {
                    <div class="card-header bg-success">
                        <h3 class="text-center">Đổi Mật Khẩu Thành Công</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Mật khẩu của bạn đã được thay đổi thành công.</p>
                        <p class="text-center">Bây giờ bạn có thể đăng nhập vào hệ thống.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Đăng nhập vào hệ thống</a>
                    </div>
                }
                else
                {
                    <div class="card-header bg-danger">
                        <h3 class="text-center">Đổi Mật Khẩu Thất Bại</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Đổi mật khẩu thất bại.</p>
                        <p class="text-center">Vui lòng liên lạc với người quản trị hệ thống.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
