@using DucAnh2025.Models.Accounts
@using DucAnh2025.Models.HeThong
@model ChangePasswordModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Đổi mật khẩu";
    var isFirstLogin = ViewBag.IsFirstLogin as string;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-primary">
                    <h3 class="text-center">Đổi mật khẩu</h3>
                </div>
                @if (!string.IsNullOrEmpty(isFirstLogin))
                {
                    <div class="alert alert-warning" role="alert">
                        Bạn cần đổi mật khẩu khi đăng nhập lần đầu tiên vào hệ thống!
                    </div>
                }
                <form asp-action="ChangePassword" method="post">
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Mật khẩu hiện tại<span class="text-danger">: </span></label>
                            <input asp-for="CurrentPassword" id="currentPassword" type="password" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Mật khẩu mới<span class="text-danger">: </span></label>
                            <input asp-for="NewPassword" id="newPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới<span class="text-danger">: </span></label>
                            <input asp-for="ConfirmPassword" id="confirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                        <a href="/Account/Login" class="btn btn-default w-100 mt-1">Quay lại màn hình Đăng nhập</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
