@{
    ViewData["Title"] = "Invalid user";
}

<header>
    <h1 class="text-danger">Tài khoản không hợp lệ</h1>
    <p class="text-danger">Tài khoản không tồn tại hoặc đã bị vô hiệu hóa. Vui lòng kiểm tra lại hoặc liên hệ quản trị viên.</p>
</header>

<a href="/Account/Login" class="btn btn-default w-100 mt-1">Quay lại màn hình Đăng nhập</a>
