@{
    ViewData["Title"] = "Invalid password reset";
}

<header>
    <h1 class="text-danger">Yêu cầu đặt lại mật khẩu không hợp lệ</h1>
    <p class="text-danger">Liên kết đặt lại mật khẩu không hợp lệ hoặc đã hết hạn. Vui lòng thử lại hoặc liên hệ quản trị viên.</p>
</header>

<a href="/Account/ForgotPassword" class="btn btn-default w-100 mt-1">Quay lại Quên mật khẩu</a>
