<div class="tab-content">
    <div class="card mt-3 p-2">
        <div class="card-header">
            <h3>Danh sách</h3>
        </div>
        <div class="card-body">
            <div>
                <button data-permission="Tao" class="mb-2 mr-2 btn-icon btn btn-primary" onclick="showModalTaoMoi()">
                    <i class="fas fa-plus btn-icon-wrapper"></i>Tạo mới
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="table_phanquyenthaotac">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Chi nhánh</th>
                            <th>Nhiệp vụ cha</th>
                            <th>Nhiệp vụ </th>
                            <th>Người dùng</th>
                            <th>Loại quyền</th>
                            <th>Ngày trong tuần</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Chi nhánh</th>
                            <th>Nhiệp vụ cha</th>
                            <th>Nhiệp vụ </th>
                            <th>Người dùng</th>
                            <th>Loại quyền</th>
                            <th>Ngày trong tuần</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        loadData();
    });

    function loadData() {
        getJwtToken().then(function (resUser) {
            $.ajax({
                url: "/api/PhanQuyenThaoTac/GetByVM?groupId=" + resUser.userInfor.groupId,
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + resUser.token
                },
                data: JSON.stringify({
                    id : "",
                    companyId : "",
                    parentMajorId : "",
                    majorId : "",
                    userId : "",
                    permissionId : "",
                    permissionOrder : 0,
                    dayInWeek : 0,
                    dayInWeekText : "",
                    idMain : "",
                    groupId : "",
                    ordinarily : 0,
                    createAt : "2024-01-01T00:00:00",
                    createBy : "",
                    isActive : 0,
                    approvalUserId : "",
                    dateApproval : "2024-01-01T00:00:00",
                    departmentId : "",
                    departmentOrder : 0,
                    approvalOrder : 0,
                    approvalId : "",
                    lastApprovalId : "",
                    isStatus : ""
                })
            }).done(function (res) {
                let dataSet = [];
                if (res.success && Array.isArray(res.data) && res.data.length > 0) {
                    dataSet = res.data.map((item, idx) => ({
                        stt: idx + 1,
                        id: item.id,
                        idMain: item.idMain ||'',
                        companyId: item.companyId || '',
                        parentMajorId: item.parentMajorId || '',
                        majorId: item.majorId ||'',
                        userId: item.userId || '',
                        permissionId: item.permissionId || '',
                        dayInWeekText: item.dayInWeekText || '',
                    }));
                }

                const $table = $('#table_phanquyenthaotac');
                if ($.fn.DataTable.isDataTable($table)) {
                    $table.DataTable().clear().destroy();
                }

                $table.DataTable({
                    data: dataSet,
                    columns: [
                        { data: 'stt', className: 'text-center align-middle', width: '5%' },
                        { data: 'companyId', className: 'align-middle' },
                        { data: 'parentMajorId', className: 'align-middle' },
                        { data: 'majorId', className: 'align-middle' },
                        { data: 'userId', className: 'align-middle' },
                        { data: 'permissionId', className: 'align-middle' },
                        { data: 'dayInWeekText', className: 'align-middle' },
                        {
                            data: null,
                            className: 'text-center align-middle',
                            orderable: false,
                            width: "1%",
                            render: function (data, type, row) {
                                return `
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-primary btn-edit" title="Chỉnh sửa" data-id="${row.id}" onclick=editCaiDat("${row.idMain}")><i class="fas fa-edit"></i></button>
                                        <button class="btn btn-sm btn-danger btn-delete" title="Xóa" data-id="${row.id}" onclick=deleteCaiDat("${row.idMain}")><i class="fas fa-trash"></i></button>
                                    </div>
                                `;
                            }
                        }
                    ],
                    autoWidth: false,
                    scrollX: false,
                    ordering: true,
                    searching: true,
                    paging: true,
                    pageLength: 10,
                    info: true,
                    language: {
                        lengthMenu: "Hiển thị _MENU_ bản ghi mỗi trang",
                        zeroRecords: "Không tìm thấy dữ liệu",
                        info: "Hiển thị _START_ đến _END_ của _TOTAL_ bản ghi",
                        infoEmpty: "Không có bản ghi nào",
                        infoFiltered: "(lọc từ _MAX_ bản ghi)",
                        search: "Tìm kiếm:",
                        paginate: {
                            first: "Đầu",
                            last: "Cuối",
                            next: "Sau",
                            previous: "Trước"
                        }
                    },
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d) {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            });
                        });
                    }
                });
            }).fail(function (xhr) {
                $('#table_phanquyenthaotac tbody').html('<tr><td colspan="7" class="text-center text-danger">Lỗi khi tải dữ liệu.</td></tr>');
            });
        });
    }

    const days = [
         { id: "thu2", value: "1", label: "Thứ 2" },
         { id: "thu3", value: "2", label: "Thứ 3" },
         { id: "thu4", value: "3", label: "Thứ 4" },
         { id: "thu5", value: "4", label: "Thứ 5" },
         { id: "thu6", value: "5", label: "Thứ 6" },
         { id: "thu7", value: "6", label: "Thứ 7" },
         { id: "chunhat", value: "0", label: "Chủ nhật" }
     ];

    async function showModalTaoMoi(isEdit = false, data = null) {
        const modalTitle = isEdit ? "Cập nhật cài đặt" : "Thêm mới cài đặt";

        const bodyHtml = `
            <form id="form_caidat">
                <div class="form-row">
                    <!-- Chi nhánh -->
                    <div class="form-group col-md-3">
                        <label>Chi nhánh</label>
                        <select class="form-control" id="ddlChiNhanh"><option value="">-- Chọn chi nhánh --</option></select>
                    </div>
                    <!-- Nghiệp vụ cha -->
                    <div class="form-group col-md-3">
                        <label>Nghiệp vụ</label>
                        <select class="form-control" id="ddlNghiepVuCha" disabled><option value="">-- Chọn nghiệp vụ cha --</option></select>
                    </div>
                    <!-- Phân loại -->
                    <div class="form-group col-md-3">
                        <label>Phân loại nghiệp vụ</label>
                        <select class="form-control" id="ddlNghiepVu" disabled><option value="">-- Chọn phân loại --</option></select>
                    </div>
                    <!-- Người dùng -->
                    <div class="form-group col-md-3">
                        <label>Người dùng</label>
                        <select class="form-control" id="ddlNguoiDung" disabled><option value="">-- Chọn người dùng --</option></select>
                    </div>
                    <!-- Loại quyền -->
                    <div class="form-group col-md-3">
                        <label>Loại quyền</label>
                        <div id="loaiquyen-checkbox-group" class="d-flex flex-wrap"></div>
                    </div>
                    <!-- Ngày trong tuần -->
                    <div class="form-group col-md-3">
                        <label>Chọn ngày trong tuần:</label>
                        <div class="d-flex flex-wrap" id="dayinweek-group"></div>
                    </div>
                </div>
            </form>
            <div id="error_msg" class="text-danger font-weight-bold mb-2"></div>
        `;

        const footerHtml = `
            <button type="button" class="btn btn-primary" id="btnLuuCaiDat">${isEdit ? "Cập nhật" : "Lưu cài đặt"}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>`;

        showGlobalModal(modalTitle, bodyHtml, footerHtml);
        $('#btnLuuCaiDat').data("isedit", isEdit).data("idMain", (Array.isArray(data) && data.length > 0 && data[0].idMain) ? data[0].idMain : "");


        bindEventsForForm();

        const $group = $('#dayinweek-group');
        days.forEach(day => {
           $group.append(`
              <div class="form-check mr-3">
                  <input class="form-check-input" type="checkbox" id="${day.id}" value="${day.value}" />
                  <label class="form-check-label" for="${day.id}">${day.label}</label>
              </div>
           `);
         });

        await loadChiNhanh();
        await loadNghiepVuCha();
        await loadNguoiDung();
        if (isEdit && data) {
            const first = data[0];
            $('#ddlChiNhanh').val(first.companyId);
            $('#ddlNghiepVuCha').val(first.parentMajorId);
            await loadNghiepVu(first.parentMajorId);
            await loadLoaiQuyen(first.majorId);
            $('#ddlNghiepVu').val(first.majorId);
            $('#ddlNguoiDung').val(first.userId);

            const days = [...new Set(data.map(x => x.dayInWeek))];
            days.forEach(val => {
                $(`#dayinweek-group input[type="checkbox"][value="${val}"]`).prop('checked', true);
            });

            const steps = [...new Set(data.map(x => x.permissionId))];
            steps.forEach(val => {
                $(`#loaiquyen-checkbox-group input[type="checkbox"][value="${val}"]`).prop('checked', true);
            });
        }
        setTimeout(function () {
            $('#globalModal select').select2({
                width: '100%',
                      theme: 'bootstrap4',
                      dropdownParent: $('#globalModal')
                  });
         }, 100);
    }

    async function getUserInfo() {
        const res = await getJwtToken();
        return { token: res.token, groupId: res.userInfor.groupId ,userName : res.userInfor.userName };
    }

    function bindEventsForForm(editData = null) {
        // Dropdown change events
        function resetDropdowns(selectors) {
            selectors.forEach(sel => {
                $(sel).empty().append('<option value="">-- Chọn --</option>').prop('disabled', true);
            });
        }

        $('#ddlNghiepVuCha').off('change').on('change', function () {
            const parentId = $(this).val();
            resetDropdowns(['#ddlNghiepVu']);
            $('#loaiquyen-checkbox-group').empty();
            if (parentId) loadNghiepVu(parentId);
        });

        $('#ddlNghiepVu').off('change').on('change', function () {
            const majorId = $(this).val();
            $('#loaiquyen-checkbox-group').empty();
            if (majorId) loadLoaiQuyen(majorId);
        });


        // Nếu là edit, bind dữ liệu vào form
        if (editData) {
            $('#ddlChiNhanh').val(editData.companyId).trigger('change');
            setTimeout(() => {
                $('#ddlNghiepVuCha').val(editData.parentMajorId).trigger('change');
                $('#ddlNghiepVu').val(editData.majorId).trigger('change');    
            }, 300);
            // Check các checkbox ngày trong tuần nếu có dữ liệu
            if (editData.dayinWeek) {
                const arr = editData.dayinWeek.split(',').map(x => x.trim());
                arr.forEach(val => {
                    $(`#dayinweek-group input[type="checkbox"][value="${val}"]`).prop('checked', true);
                });
            }
            // Check các checkbox duyệt nếu có dữ liệu
            if (editData.approvalStepId) {
                const arr = editData.approvalStepId.split(',').map(x => x.trim());
                arr.forEach(val => {
                    $(`#duyet-checkbox-group input[type="checkbox"][value="${val}"]`).prop('checked', true);
                });
            }
        }

        $('#btnLuuCaiDat').off('click').on('click', async function () {
            $('#error_msg').text("");
            $('#form_caidat select').removeClass('is-invalid');
            $('#dayinweek-group').removeClass('is-invalid');
            $('#duyet-checkbox-group').removeClass('is-invalid');

            let isValid = true;

            // Validate all dropdowns
            $('#form_caidat select').each(function () {
                if (!$(this).val()) {
                    $(this).addClass('is-invalid');
                    isValid = false;
                }
            });

            // Validate at least one checkbox for dayinweek
            if ($('#dayinweek-group input[type="checkbox"]:checked').length === 0) {
                $('#dayinweek-group').addClass('is-invalid');
                isValid = false;
            }

            // Validate at least one checkbox for loaiquyen
            if ($('#loaiquyen-checkbox-group input[type="checkbox"]:checked').length === 0) {
                $('#loaiquyen-checkbox-group').addClass('is-invalid');
                isValid = false;
            }

            if (!isValid) {
                $('#error_msg').text("Vui lòng chọn đầy đủ tất cả các trường và ít nhất một ngày trong tuần, một loại quyền.");
                return;
            }

            const { groupId, userName, token } = await getUserInfo();
            const isEdit = $(this).data("isedit") === true;
            const idMain = $(this).data("idMain") || generateUUID();

            const dayinWeeks = $('#dayinweek-group input[type="checkbox"]:checked').map((_, el) => el.value).get();
            const permissions = $('#loaiquyen-checkbox-group input[type="checkbox"]:checked').map((_, el) => el.value).get();

            const commonData = {
                companyId: $('#ddlChiNhanh').val(),
                parentMajorId: $('#ddlNghiepVuCha').val(),
                majorId: $('#ddlNghiepVu').val(),
                userId: $('#ddlNguoiDung').val(),
                idMain: idMain,
                groupId: groupId,
                createAt: new Date().toISOString(),
                createBy: userName,
                isActive: 0,
                approvalUserId: "",
                dateApproval: new Date().toISOString(),
                departmentId: "",
                departmentOrder: 0,
                approvalId: "",
                approvalOrder: 0,
                lastApprovalId: "",
                isStatus: "",
                IsActive: 1,
            };

            const data = dayinWeeks.flatMap(day =>
                permissions.map(step => ({
                    ...commonData,
                    id: generateUUID(),
                    dayinWeek: day,
                    permissionId: step
                }))
            );

            try {
                const res = await $.ajax({
                    url: `/api/PhanQuyenThaoTac`,
                    method:'POST',
                    contentType: 'application/json',
                    headers: { Authorization: `Bearer ${token}` },
                    data: JSON.stringify(data)
                });

                if (res.success) {
                    showToastSuccess(isEdit ? "Cập nhật thành công!" : "Lưu thành công!");
                    $('#globalModal').modal('hide');
                    loadData();
                } else {
                    $('#error_msg').text(res.message || "Có lỗi xảy ra khi lưu.");
                    showToastError(res.message || "Có lỗi xảy ra khi lưu.");
                }
            } catch (err) {
                console.error("Lỗi khi lưu:", err);
                $('#error_msg').text("Lỗi hệ thống khi lưu dữ liệu.");
            }
        });
    }

    async function editCaiDat(idMain) {
        const { token } = await getUserInfo();
        try {
            const res = await $.ajax({
                url: `/api/PhanQuyenThaoTac/GetByMainId?idMain=${idMain}`,
                method: 'GET',
                headers: { Authorization: `Bearer ${token}` }
            });

            if (!res.success || !res.data) {
                alert(res.message || 'Không lấy được dữ liệu');
                return;
            }

            // mở modal với data
            showModalTaoMoi(true, res.data);
        } catch (err) {
            console.error('editCaiDat error:', err);
            alert('Lỗi khi load dữ liệu!');
        }
    }

    function loadChiNhanh() {
        return getUserInfo().then(({ token, groupId }) => {
            return $.ajax({
                url: `/api/chinhanh/getall?groupId=${groupId}`,
                headers: { Authorization: `Bearer ${token}` }
            }).done(res => {
                const ddl = $('#ddlChiNhanh');
                ddl.empty().append('<option value="">-- Chọn chi nhánh --</option>');
                res.data?.forEach(x => ddl.append(`<option value="${x.id}">${x.tenChiNhanh}</option>`));
            });
        });
    }

    function loadNghiepVuCha() {
        return getUserInfo().then(({ token }) => {
            return $.ajax({
                url: `/api/NghiepVu/GetAllParentMajor`,
                headers: { Authorization: `Bearer ${token}` }
            }).done(res => {
                const ddl = $('#ddlNghiepVuCha');
                ddl.prop('disabled', false).empty().append('<option value="">-- Chọn nghiệp vụ --</option>');
                res.data?.forEach(x => ddl.append(`<option value="${x.id}">${x.majorName}</option>`));
            });
        });
    }

    function loadNghiepVu(parentId) {
         return getUserInfo().then(({ token, groupId }) => {
            return $.ajax({
                    url: `/api/nghiepvu/GetMajorByParentId?parentId=${parentId}`,
                     method: 'GET',
                    headers: { Authorization: `Bearer ${token}` }
                }).done(res => {
                    const ddl = $('#ddlNghiepVu');
                    ddl.prop('disabled', false).empty().append('<option value="">-- Chọn phân loại  --</option>');
                    res.data?.forEach(x => ddl.append(`<option value="${x.id}">${x.majorName}</option>`));
                }).fail((xhr, status, error) => {
                    console.error('Lỗi loadNghiepVu:', {
                        status: xhr.status,
                        responseText: xhr.responseText,
                        error: error
                    });
            });
        });
    }

    function loadLoaiQuyen(majorId) {
        const $group = $('#loaiquyen-checkbox-group');
        $group.empty();
         return getUserInfo().then(({ token, groupId }) => {
            return $.ajax({
            url: `/api/permission/LoadByMajor1?majorId=${majorId}`,
            method: 'POST',
            contentType: 'application/json',
            headers: { Authorization: `Bearer ${token}` },
            
        }).done(res => {
            if (Array.isArray(res.data)) {
                res.data.forEach(x => {
                  $group.append(`
                      <div class="form-check mr-3">
                         <input class="form-check-input loaiduyet-checkbox" type="checkbox" value="${x.id}" id="loaiquyen_${x.id}">
                         <label class="form-check-label" for="loaiquyen_${x.id}">${x.permissionName}</label>
                      </div>
                    `);
               });
             }
        }).fail((xhr, status, error) => {
                console.error('Lỗi:', {
                    status: xhr.status,
                    responseText: xhr.responseText,
                    error: error
                });
            });
        });
    }

    function loadNguoiDung() {
         return getUserInfo().then(({ token, groupId }) => {
            return $.ajax({
                url: `/api/ApplicationUser/GetAll?groupId=${groupId}`,
                method: 'GET',
                contentType: 'application/json',
                headers: { Authorization: `Bearer ${token}` },
           
            }).done(res => {
                const ddl = $('#ddlNguoiDung');
                ddl.prop('disabled', false).empty().append('<option value="">-- Chọn người dùng --</option>');
                res.data?.forEach(x => {
                    const name = `${x.firstName} ${x.lastName}`.trim();
                    ddl.append(`<option value="${x.id}">${name}(${x.email})</option>`);
                });
            }).fail((xhr, status, error) => {
                console.error('Lỗi:', {
                    status: xhr.status,
                    responseText: xhr.responseText,
                    error: error
                });
            });
        });
    }

    async function deleteCaiDat(idMain) {
        if (!confirm('Bạn có chắc chắn muốn xoá?')) return;
        const { token,userName } = await getUserInfo();
        $.ajax({
            url: `/api/PhanQuyenThaoTac?deleteId=${idMain}&userId=?${userName}`,
            method: 'DELETE',
            headers: { Authorization: `Bearer ${token}` }
        })
        .done(res => {
            if (res.success) {
                showToastSuccess("Xóa thành công");
                loadData();
            } else {
                  showToastError(res?.message);
            }
        })
        .fail((xhr) => {
           showToastError("Lỗi kết nối khi xóa");
        });
    }


</script>



